<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">


    <th:block th:if="${board.skin == 'default' }" th:replace="~{front/board/default/_view:view}"></th:block>
    <th:block th:if="${board.skin == 'gallery' }" th:replace="~{front/board/gallery/_view:view}"></th:block>



    <!-- 뷰쪽에 보일 코멘트와 리스트 여러개 보이는거 말하는거 같음. -->
<th:block th:if="${board.UseComment()}"
          th:replace="~{front/board/_comment::comment}"></th:block>

    <!--스킨별로 게시글 하단에 보이는 스타일을 다르게 함 -->
    <th:block th:if="${board.showListBelowView}">
        <th:block th:if="${board.skin == 'default' }" th:replace="~{front/board/default/_list_items::items}"></th:block>
        <th:block th:if="${board.skin == 'gallery' }" th:replace="~{front/board/gallery/_list_items::items}"></th:block>

    </th:block>


</main>


</html>

